@import "tailwindcss";

.font-poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.font-poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.responsive-heading {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.responsive-body {
  font-size: clamp(1rem, 1vw + .8rem, 1.3rem);
}

.responsive-header-padding {
  padding-left: clamp(1rem, 4vw, 3rem);
  padding-right: clamp(1rem, 4vw, 3rem);
}
